body {
    background: url("../images/pow-star.png");
}

.container {
    background-color: white;
    margin-top: 10px;
    border: grey solid 1px; 
}

#gems {
    background: none;
    border: none;
}